body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.color-orange{
    color: orange;
}
.width-test{
    width: 50%;
    padding-left: 3%;
    font-size: 110%;
    padding-top: 2%;
}
.width-test img{
    width: 80%;
    padding-left: 3%;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5px;
    
}
.top-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.back-img{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10px;
    box-shadow: 10px 10px 10px gray;
}
h1{
    font-size: 40px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-ex{
    border-left: 7px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;
}
#ex-id{
    border-left: 7px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;

    
}
footer p{
    text-align: center;
}