body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.color-orange{
    color: orange;
}
.width-test{
    width: 50%;
    padding-left: 3%;
    font-size: 110%;
    padding-top: 2%;
}
.width-test img{
    width: 80%;
    padding-left: 3%;
    
}
section{
    display: flex;
    margin-bottom: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5px;
    
}
.top-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.back-img{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
}